{% extends "base.html.twig" %}

{% block title %}Process Report{% endblock %}
{% block content %}
    <h1>Process Report</h1>
    <ul class="collapsible teal lighten-4" style="border-color: #004d40;">
        <li>
            <div class="collapsible-header teal lighten-4" style="border-color: #004d40;">
                <i class="material-icons">thumbs_up_down</i>
                {{ deed.name }}
            </div>
            <div class="collapsible-body" style="border-color: #004d40;"><p class="property">
                    <span>SocialScore™ impact: </span>{{ deed.points }}</p></div>
        </li>
        <li>
            <div class="collapsible-header teal lighten-4" style="border-color: #004d40;">
                <i class="material-icons">person</i>
                {{ person.first_name }} {{ person.last_name }}
            </div>
            <div class="collapsible-body" style="border-color: #004d40;"><p class="property">
                    <span>PESEL:       </span>{{ person.pesel }}</p>
                <p class="property"><span>Birth day:   </span>{{ person.birthdate }}</p>
                <p class="property"><span>Sex:         </span>
                    {% if person.sex == 'M' %}
                        Male
                    {% else %}
                        Female
                    {% endif %}
                </p>
                <p class="property"><span>City:        </span>
                    {% if person.city is not empty %}
                        {{ person.city }}
                    {% else %}
                        unknown
                    {% endif %}
                </p>
                <p class="property"><span>E-mail:      </span>
                    {% if person.email is not empty %}
                        {{ person.email }}
                    {% else %}
                        unknown
                    {% endif %}
                </p>
                <p class="property"><span>Phone:       </span>
                    {% if person.phone is not empty %}
                        {{ person.phone }}
                    {% else %}
                        unknown
                    {% endif %}
                </p>
                <p class="property"><span>Father: </span>
                    {% if person.father is not empty %}
                        {{ person.father }}
                    {% else %}
                        unknown parent
                    {% endif %}
                </p>
                <p class="property"><span>Mother: </span>
                    {% if person.mother is not empty %}
                        {{ person.mother }}
                    {% else %}
                        unknown parent
                    {% endif %}
                </p></div>
        </li>
        <li class="active">
            <div class="collapsible-header teal lighten-4" style="border-color: #004d40;">
                <i class="material-icons">description</i>
                Full report
            </div>
            <div class="collapsible-body" style="border-color: #004d40;"><p>{{ desc }}</p></div>
        </li>
    </ul>
    <a href="overrule.php?id={{ id }}" class="btn-large"><i class="material-icons left">thumb_down</i>Overrule</a>
    <a href="sustain.php?id={{ id }}" class="btn-large right"><i class="material-icons right">thumb_up</i>Sustain</a>
{% endblock %}