{% extends "base.html.twig" %}

{% block title %}Profile{% endblock %}
{% block content %}

    <div class="row">
        <div class="col s12 m3">
            {% if img is defined %}
                <img class="materialboxed" src="img/{{ img }}" style="width: 100%; max-height: 100%">
            {% else %}
                <img class="materialboxed" src="img/avatar.jpg" style="width: 100%; max-height: 100%">
            {% endif %}
        </div>
        <div class="col s12 m9 information-div">
            {% if middle_name is defined %}
                <h2> {{ first_name }} {{ middle_name }} {{ last_name }} </h2>
            {% else %}
                <h2> {{ first_name }} {{ last_name }} </h2>
            {% endif %}
            <p class="property"><span>PESEL:       </span>{{ pesel }}</p>
            <p class="property"><span>Birth day:   </span>{{ birthday }}</p>
            <p class="property"><span>Sex:         </span>
                {% if sex == M %}
                    Male
                {% else %}
                    Female
                {% endif %}
            </p>
            <p class="property"><span>City:        </span>
                {% if city is defined %}
                    {{ city }}
                {% else %}
                    unknown
                {% endif %}
            </p>
            <p class="property"><span>E-mail:      </span>
                {% if email is defined %}
                    {{ email }}
                {% else %}
                    unknown
                {% endif %}
            </p>
            <p class="property"><span>Phone:       </span>
                {% if phone is defined %}
                    {{ phone }}
                {% else %}
                    unknown
                {% endif %}
            </p>
            <p class="property"><span>Father name: </span>
                {% if father is defined %}
                    {{ father }}
                {% else %}
                    unknown parent
                {% endif %}
            </p>
            <p class="property"><span>Mother name: </span>
                {% if mother is defined %}
                    {{ mother }}
                {% else %}
                    unknown parent
                {% endif %}
            </p>
        </div>
        <div class="col s12 information-div">
            <h2>Deeds</h2>
            <table class="highlight">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                {% for deed in deeds %}
                <tr>
                    <td>{{ deed.name }}</td>
                    <td>{{ deed.date }}</td>
                    <td>{{ deed.points }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}