{% extends "base.html.twig" %}

{% block title %}Search {{ search }}{% endblock %}
{% block content %}

    <nav class="teal darken-4">
        <div class="nav-wrapper">
            <form action="search.php" method="get">
                <div class="input-field">
                    <input id="search" name="query" type="search" value="{{ search }}" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                </div>
            </form>
        </div>
    </nav>
    <table class="highlight">
        <thead>
        <tr>
            <th>Pesel</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>SocialScore™</th>
        </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr class="chooseRow" onclick="window.location.href = 'profile.php?person={{ person.pesel }}'">
                <td>{{ person.pesel }}</td>
                <td>{{ person.first_name }} {{ person.last_name }}</td>
                <td>{{ person.birthdate }}</td>
                <td>{{ person.points }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}